@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  width: 60%;
}

.username {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline #df2e38;
  text-underline-offset: 0.7rem;
  font-family: "Abril Fatface", cursive;
}
.title {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.price {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.description {
  text-align: center;
  width: 65%;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
